*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

.calc-container {
  background-color: #f6f8f9;
  width: 30rem;
  margin-top: 4rem;
  box-shadow: -12px 23px 38px 0 rgba(0, 0, 0, 0.1);
}

.screen {
  height: 4rem;
  background-color: #858694;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
  direction: rtl;
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

.button {
  background: #e0e0e05d;
  height: 3.5rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #242424;
  border: none;
  font-size: 1.5rem;
}

.button:hover {
  background: #e0e0e0;
}

.zero {
  grid-column: 1 / span 2;
}

.opt {
  background: #f79505;
}

.opt:hover {
  background: #f7960593;
}
